﻿@{
    ViewBag.Title = "Home Depot Login";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Add the Bootstrap CSS link here -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .login-container {
            max-width: 400px;
            margin: auto;
            margin-top: 50px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .login-container h2 {
                text-align: center;
                color: #007bff;
            }

            .login-container label {
                font-weight: bold;
            }

            .login-container button {
                width: 100%;
                padding: 10px;
                background-color: #007bff;
                color: #ffffff;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            }

                .login-container button:hover {
                    background-color: #0056b3;
                }

        .error-message {
            color: red;
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Welcome to Home Depot</h2>

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.Label("Username:")
                @Html.TextBox("username", null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                @Html.Label("Password:")
                @Html.Password("password", null, new { @class = "form-control", required = "required" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            <p class="error-message">@ViewBag.ErrorMessage</p>
        }
    </div>

    <!-- Add the Bootstrap JS and Popper.js scripts here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

