﻿@model List<Products>

<div style="position: absolute; top: 10px; right: 10px; display: flex; align-items: center;">
    @if (ViewBag.CurrentUserID != null && ViewBag.CurrentUsername != null)
    {
        <span style="margin-right: 10px;">Welcome, @ViewBag.CurrentUsername!</span>
        <span style="margin-right: 10px;">|</span>
        <a href="@Url.Action("OrdersHistory", "User")" style="margin-right: 10px;">Orders History</a>
        <a href="@Url.Action("UserCatalog", "User")" style="margin-right: 10px;">Catalog</a>
        <span style="margin-right: 10px;">|</span>
        <form method="post" action="@Url.Action("Logout", "Home")">
            <button type="submit">Logout</button>
        </form>
    }
</div>

<h2>Shopping Cart</h2>


<a asp-action="MakeOrder" asp-controller="User">Make order</a>
<a asp-action="UserCatalog" asp-controller="User">Return to catalogue</a>

@if(Model != null){
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.product_uid</td>
                <td>@product.product_description</td>
                <td>
                    <a asp-action="Product" asp-controller="User" asp-route-productId="@product.product_uid">View Product</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}