﻿@model List<Orders>

<h2>Orders History</h2>

<div style="position: absolute; top: 10px; right: 10px; display: flex; align-items: center;">
    @if (ViewBag.CurrentUserID != null && ViewBag.CurrentUsername != null)
    {
        <span style="margin-right: 10px;">Welcome, @ViewBag.CurrentUsername!</span>
        <span style="margin-right: 10px;">|</span>
        <a href="@Url.Action("Cart", "User")" style="margin-right: 10px;">Shopping Cart</a>
        <a href="@Url.Action("OrdersHistory", "User")" style="margin-right: 10px;">Orders History</a>
        <a href="@Url.Action("UserCatalog", "User")" style="margin-right: 10px;">Catalog</a>
        <span style="margin-right: 10px;">|</span>
        <form method="post" action="@Url.Action("Logout", "Home")">
            <button type="submit">Logout</button>
        </form>
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Product UIDs</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderID</td>
                <td>@order.OrderDate</td>
                <td>@order.ProductUIDs</td>
                <td>@order.Status</td>
            </tr>
        }
    </tbody>
</table>
