﻿@model List<Products>
@{
    ViewBag.Title = "Product page";
}

<div style="position: absolute; top: 10px; right: 10px; display: flex; align-items: center;">
    @if (ViewBag.CurrentUserID != null && ViewBag.CurrentUsername != null)
    {
        <span style="margin-right: 10px;">Welcome, @ViewBag.CurrentUsername!</span>
        <span style="margin-right: 10px;">|</span>
        <a href="@Url.Action("OrdersHistory", "User")" style="margin-right: 10px;">Orders History</a>
        <a href="@Url.Action("Cart", "User")" style="margin-right: 10px;">Shopping Cart</a>
            <a href="@Url.Action("UserCatalog", "User")" style="margin-right: 10px;">Catalog</a>
        <span style="margin-right: 10px;">|</span>
        <form method="post" action="@Url.Action("Logout", "Home")">
            <button type="submit">Logout</button>
        </form>
    }
</div>

<h2>Product</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            var firstProduct = Model.First();
            <tr>
                <td>@firstProduct.product_uid</td>
                <td>@firstProduct.product_description</td>
                <td>
                    <a asp-action="AddToCart" asp-controller="User" asp-route-productId="@firstProduct.product_uid" asp-route-userId="@ViewBag.CurrentUserID">Add to cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Recommended</h2>
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Skip(1))
        {
            <tr>
                <td>@product.product_uid</td>
                <td>@product.product_description</td>
                <td>
                    <a asp-action="AddToCart" asp-controller="User" asp-route-productId="@product.product_uid" asp-route-userId="@ViewBag.CurrentUserID">Add to cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>