﻿@model List<Products>

<h2>Catalogue</h2>

<div style="position: absolute; top: 10px; right: 10px; display: flex; align-items: center;">
    @if (ViewBag.CurrentUserID != null && ViewBag.CurrentUsername != null)
    {
        <span style="margin-right: 10px;">Welcome, @ViewBag.CurrentUsername!</span>
        <span style="margin-right: 10px;">|</span>
        <a href="@Url.Action("OrdersHistory", "User")" style="margin-right: 10px;">Orders History</a>
        <a href="@Url.Action("Cart", "User")" style="margin-right: 10px;">Shopping Cart</a>
        <span style="margin-right: 10px;">|</span>
        <form method="post" action="@Url.Action("Logout", "Home")">
            <button type="submit">Logout</button>
        </form>
    }
</div>


<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@product.product_uid</h5>
                    <p class="card-text">@TruncateDescription(product.product_description, 10)</p>
                    <a asp-action="Product" asp-controller="User" asp-route-productId="@product.product_uid" class="btn btn-primary">View Product</a>
                </div>
            </div>
        </div>
    }
</div>

@functions {
    public string TruncateDescription(string description, int maxLength)
    {
        if (description.Length <= maxLength)
        {
            return description;
        }
        else
        {
            var words = description.Split(' ');
            var truncatedWords = string.Join(' ', words.Take(maxLength));
            return $"{truncatedWords}...";
        }
    }
}
